@use "../../index.scss";
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}
.containerBackimg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.757), rgba(32, 32, 32, 0.639), rgba(71, 71, 71, 0.468), rgba(0, 160, 120, 0.5));
  }
  .backImg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
}

.actorBox {
  position: absolute;
  padding: 2rem;
}

.actorDet {
  display: flex;
  padding: 0 0 3rem 0;
  gap: 1rem;
  > img {
    width: 10rem;
    border-radius: 0.7rem;
    border: solid white 1px;
  }
}
.actorNameBorn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  padding: 1rem;
  border-bottom: 2px solid white;
  font-size: 1.7rem;
  > p:first-child {
    font-size: 2.5rem;
  }
  > p:nth-child(2) {
    flex-grow: 1;
  }
}

.biography {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  > p {
    padding: 1rem 2rem;
    height: 170px;
    overflow: auto;
    background-color: rgba(255, 166, 0, 0);
    border-radius: 5px;
    color: white;
  }
}

.knownby {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  > p {
    padding: 1rem 2rem;
    height: 170px;
    overflow: auto;
    background-color: rgba(255, 166, 0, 0);
    border-radius: 5px;
    color: white;
  }
}
